ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li a{
  height: 22.5rem;
  width: 20rem;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #000000;
  background-color: #fdd810;
  transition: transform .5s, box-shadow 1s;
}

li a:hover{
  transform: scale(1.03) perspective(0px);
  box-shadow: 0px 5px 5px  rgb(172, 170, 170);
  cursor: pointer;
}
li a img{
  object-fit: cover;
  height: 14.5rem;
}

.content{
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}

.favorite{
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
  color: red;
}

.favorite.not{
  color: rgb(255, 255, 255);
}

.stars{
  margin-bottom: 0.2rem;
  /* color: rgb(255, 0, 0); */
}

.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.origins{
  flex: 9;
}

.origins span{
  border-radius: 2rem;
  background-color: #333132;
  display: inline-block;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  margin-right: 0.3rem;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
}

.cook-time{
  font-size: 0.9rem;
  flex: 3;
  text-align: right;
}

.price{
  position: absolute;
  bottom: 0;
  left: 0.9rem;
  /* background: white; */
  padding: 0.3rem 100% 0 0;
  color: #000000;
  margin-top: 0.7rem;
  font-size: 1.1rem;
}

.card{
  margin-left: 10%;
  margin-right: 10%;
  background-color: #fdd810;
  height: 6%;
  margin-top: 3rem;
  border-radius: 1rem;
}
.offer{
  margin-left: 25%;
  padding-top: 5%;
  font-size: 2.8rem;
  font-weight: 600;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

