div{
display:flex;
justify-content: center;
margin-top: 1rem;
/* margin-bottom: .5rem; */
}

input{
  margin-top: 0;
  /* border-radius: 10rem 0 0 10rem; */
  height: 3rem;
  width: 65%;
  background-color: #ffffff;
  padding: 1.2rem;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
}

div button{
  margin-top:0;
  color:grey;
  height: 3rem;
  width: 5rem;
  font-size: 1rem;
  /* border-radius: 0 10rem 10rem 0; */
  border: none;
  background-color: #e72929;
  color: white;
  opacity: 0.8;
  outline: none;
}

div button:hover{
  opacity: 1;
  cursor: pointer;
}
