<div class="container">
  <div class="details">
    <app-title title="Register"></app-title>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.name"
        [showErrorWhen]="isSubmitted"
        label="Name"
      >
      </text-input>

      <text-input
        [control]="fc.email"
        [showErrorWhen]="isSubmitted"
        label="Email"
        type="email"
      >
      </text-input>

      <text-input
        [control]="fc.password"
        [showErrorWhen]="isSubmitted"
        label="Password"
        type="password"
      >
      </text-input>

      <text-input
        [control]="fc.confirmPassword"
        [showErrorWhen]="isSubmitted"
        label="confirm Password"
        type="password"
      >
      </text-input>

      <text-input
        [control]="fc.address"
        [showErrorWhen]="isSubmitted"
        label="Address"
      >
      </text-input>

      <default-button text="Register"> </default-button>

      <div class="login">
        Already a user? &nbsp;
        <a routerLink="/login" [queryParams]="{returnUrl: returnUrl}">Login Here</a>
      </div>
    </form>
  </div>
</div>
